<!DOCTYPE html>
<html>
<head>
<title>status page</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style type="text/css">
body{
background-image:url("https://cdn.pixabay.com/photo/2016/11/22/19/24/archive-1850170_960_720.jpg");
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="http://127.0.0.1:8000">SH</a>
  
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/otsapp/login/">Logout</a>
    </li>
  </ul>
</nav>
<br><br><br>
<form action='/otsapp/result/' style="width:20%" method="post">{% csrf_token %}
 
   <div class="form-group">
    <label style="color:#fff";>Enter your order id:</label>
    <input type="text"  id="order id" name="order id" class="form-control"  placeholder="order id">
  </div>
  <input class="btn btn-primary" type="submit" value="Get status">
</body>
</html>